@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrolling Animation */
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Container for Scrolling Content */
  .scrolling-wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
  }
  
  /* Continuous Scroll Effect */
  .scrolling-content {
    animation: scroll 20s linear infinite;
    display: inline-flex;
    white-space: nowrap;
  }
  
  /* Pause on Hover */
  .scrolling-wrapper:hover .scrolling-content {
    animation-play-state: paused;
  }
  